<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @warehouse_info.no %>
</p>

<p>
  <strong>Size:</strong>
  <%= @warehouse_info.size %>
</p>

<p>
  <strong>Fragile:</strong>
  <%= @warehouse_info.fragile %>
</p>

<p>
  <strong>In time:</strong>
  <%= @warehouse_info.in_time %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @warehouse_info.quantity %>
</p>

<p>
  <strong>Local:</strong>
  <%= @warehouse_info.local %>
</p>

<%= link_to 'Edit', edit_warehouse_info_path(@warehouse_info) %> |
<%= link_to 'Back', warehouse_infos_path %>
